<footer>
  <div class="container">
    <div class="footer-links">
      <div class="link-col">
        <h4>Isaac</h4>
        <ul>
          <li><a [routerLink]="['']">Home</a></li>
          <li><a [routerLink]="['about']">About ISAAC</a></li>
          <li><a [routerLink]="['team']">Meet the ISAAC Team</a></li>
          <li><a href="/assets/isaac-white-paper.pdf" target="_blank">White Paper</a></li>
          <li><a href="https://steemit.com/@berlinguyinca" target="_blank">Blog</a></li>
          <li><a [routerLink]="['privacy']">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="link-col">
        <h4>Resources</h4>
        <ul>
          <li><a href="https://www.stellar.org/" target="_blank">Stellar</a></li>
          <li><a href="https://horizon.stellar.org/accounts/GD5SQKW4MDDAQDUSW7CVJJCMF5JWBXBY5RN7XYHDR4L6FF2NAU4I7GOQ" target="_blank">Isaac Issuing account GD5SQKW4MDDAQDUSW7CVJJCMF5JWBXBY5RN7XYHDR4L6FF2NAU4I7GOQ</a></li>
          <li><a href="https://horizon.stellar.org/accounts/GD6GAIICLFQOID6SQPRTZWA6NLU4YHSDF7ITBKHH3HRGJERRE3RPHIUD" target="_blank">Isaac Distributing account GD6GAIICLFQOID6SQPRTZWA6NLU4YHSDF7ITBKHH3HRGJERRE3RPHIUD</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="bottom">
    <div class="container">
      <small>© Isaac LLC 2018. All Rights Reserved.</small>
      <div id="social-links">
        <a href="https://twitter.com/isaactoken" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://isaactoken.slack.com" target="_blank"><i class="fa fa-slack"></i></a>
      </div>
    </div>
  </div>
</footer>
