<!-- Main Nav -->
<nav id="nav-main" class="navbar navbar-toggleable-md fixed-top navbar-expand-lg">
  <h1>
    <a [routerLink]="['']" class="active"><img src="/assets/images/isaac-header.png" class="logo"></a>
  </h1>

  <button class="navbar-toggler navbar-toggler-right btn btn-outline-primary" type="button" (click)="navbarCollapsed = !navbarCollapsed"
          data-toggle="collapse" data-target="#navbarContent" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent"
          aria-expanded="false" aria-label="Toggle Navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="navbarCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="http://isaac.international">Back to Isaac</a>
      </li>
    </ul>
  </div>
</nav>
